<!-- Directions Section -->
    <section id="directions" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Directions</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3341.4288516576066!2d-96.8257148!3d33.124096299999955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c3c7b6ada12a3%3A0xf601b46e62573411!2s6842+Lebanon+Rd+%23104%2C+Frisco%2C+TX+75034!5e0!3m2!1sen!2sus!4v1410141621983" width="100%" height="450" frameborder="0" style="border:0"></iframe>
                </div>
                <div class="col-lg-6">
                    <h4 class="service-heading">Extra</h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in lacinia mauris, et lobortis orci. Nullam a sapien at purus ultrices sodales non ut nunc. Nunc porttitor dolor et tortor vestibulum, sit amet mattis augue sagittis. Pellentesque placerat, felis in pharetra ornare, mauris erat elementum nibh, non dignissim metus augue eget ante. Aliquam erat volutpat. Maecenas tincidunt, magna eget venenatis pharetra, nulla dolor auctor lorem, ac venenatis eros dui sed quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum at lobortis nisi. Maecenas neque est, interdum vel erat eu, consequat dictum nunc. Integer augue turpis, aliquam vel pulvinar ac, ornare finibus magna. Aliquam imperdiet ex ante, et fringilla dolor sagittis vel. Aliquam nec odio lectus. Donec nec facilisis nisl.
                </div>
            </div>
        </div>
    </section>
