<footer class="">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-6">
        <span class="copyright">Copyright &copy; {{ site.title }} <span id="year">2014-2016</span></span>
      </div>
      <div class="col-md-offset-4 col-md-4 col-sm-6 col-xs-6">
        <address>
          <strong>Custom Footworks, PLLC.</strong><br>
          6842 Lebanon Suite #104<br>
          Frisco, TX. 75034<br>
          <abbr title="Phone">P:</abbr> (972) 913-6684<br>
          <abbr title="Fax">F:</abbr> (972) 767-3017
        </address>
      </div>
    </div>
  </div>
</footer>
