<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden"><a href="#page-top"></a></li>
        <li><a class="page-scroll" href="#about">About</a></li>
        <li><a class="page-scroll" href="#services">Services</a></li>
        <li><a class="page-scroll" href="#directions">Directions</a></li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Custom Footworks!</div>
      <div class="intro-heading">Custom Handmade Orthotics</div>
      <div class="intro-button">
        <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
      </div>
      <div class="">
        <a href="https://www.mychirotouch.com/patientintake/?clientid=CFP0001" class="btn btn-sm" target="_blank">
          Online Registration
        </a>
        <a href="cht_release.pdf" class="btn btn-sm" target="_blank">
          CHT Patient Release
        </a>
      </div>
    </div>
  </div>
</header>
