<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 text-center">
        <h2 class="section-heading">Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 text-left">
        The Pedorthic profession includes the design and manufacture of foot orthoses, modification and selection of
        proper footwear. All aimed to prevent and/or alleviate foot problems. We focus on the fabrication and dispensing
        of orthotic devices as well as extra depth footwear and custom shoes. Pedorthists accept referrals from
        Physicians to dispense orthotics for a myriad of lower extremity conditions including:
        <ul>
          <li>bunions (hallux abducto-valgus)</li>
          <li>Post operative foot and ankle conditions</li>
          <li>Sesamoiditis</li>
          <li>Plantar Fasciitis and heel spurs</li>
          <li>ACL and Patellofemoral problems</li>
          <li>Neuroma and metatarsalgia</li>
          <li>Congenital deformities</li>
        </ul>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Orthotics</div>
          <div class="panel-body">
            The goal of the orthotic is to improve the lower extremity mechanics, by controlling the rear foot, mid
            tarsal joint, and the forefoot. By controlling the amount and timing of pronation, abnormal forces which
            lead to chronic overuse symptoms can be alleviated. Orthotic intervention coupled with proper stretching and
            strengthening lead to tremendous results.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Care</div>
          <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Protection</div>
          <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
