<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 text-center">
        <h2 class="section-heading">Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="row">
          <div class="col-md-6">
            {{ site.services.summary }}
          </div>
          <div class="col-md-6">
            <ul>
              {% for item in site.services.list %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Orthotics</div>
          <div class="panel-body">
            {{ site.services.orthotics }}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Care</div>
          <div class="panel-body">
            {{ site.services.care }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
