/* Override navbar font and color */
* {
    font-family:"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.navbar-default .navbar-brand {
    font-family: "Cinzel", 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.bio h4 {
    text-transform: none;
}

.img-responsive {
    display: inline-block;
}

address {
    font-size: 18px;
}

section#contact {
    background-color: #fff;
    background-image: none;
}

section#contact .section-heading {
    color: #333;
}
