/* Consolidate all website fonts. */
* {
    font-family:"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body {
    font-size: 16px;
}

/* Update navbar brand font. */
.navbar-default .navbar-brand {
    font-family: "Cinzel", 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

/* Stop uppercase text transform on headers. */
.bio h4 {
    text-transform: none;
}

.bio {
    padding-top: 25px;
}

/* Margin fix on image containers. */
.img-responsive {
    display: inline-block;
}

/* Update address font sizes for readibility. */
address {
    /*font-size: 16px;*/
}

/* Remove template image from contact section background. */
section#contact {
    background-color: #fff;
    background-image: none;
}

/* Update font color for contact header section.*/
section#contact .section-heading {
    color: #333;
}

/* Add padding to containers to remove immediate div stacking. */
.row {
    padding: 15px 0px 15px 0px;
}

/* Add a call to action button for the Hero. */
.intro-button {
    margin-bottom: 50px;
}

/* Update styling for btn-sm */
.btn-sm {
    border-color: #{{ site.color.primary }};
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

.btn-sm:hover,
.btn-sm:focus,
.btn-sm:active,
.btn-sm.active,
.open .dropdown-toggle.btn-sm {
    border-color: #{{ site.color.primary }};
    color: #fff;
    background-color: #{{ site.color.secondary }};
}

.btn-sm:active,
.btn-sm.active,
.open .dropdown-toggle.btn-sm {
    background-image: none;
}

.btn-sm.disabled,
.btn-sm[disabled],
fieldset[disabled] .btn-sm,
.btn-sm.disabled:hover,
.btn-sm[disabled]:hover,
fieldset[disabled] .btn-sm:hover,
.btn-sm.disabled:focus,
.btn-sm[disabled]:focus,
fieldset[disabled] .btn-sm:focus,
.btn-sm.disabled:active,
.btn-sm[disabled]:active,
fieldset[disabled] .btn-sm:active,
.btn-sm.disabled.active,
.btn-sm[disabled].active,
fieldset[disabled] .btn-sm.active {
    border-color: #{{ site.color.primary }};
    background-color: #{{ site.color.primary }};
}

.btn-sm .badge {
    color: #{{ site.color.primary }};
    background-color: #fff;
}
